<!-- start navbar -->
<div class="container mt-1 pt2">
    <a routerLink="/"><button type="button" class="btn">Show All</button></a>
    <a routerLink="/call"><button type="button" class="btn ml-1">Call API</button></a>
    <a routerLink="/input"><button type="button" class="btn ml-1">Input</button></a>
    <a routerLink="/select"><button type="button" class="btn ml-1">Select</button></a>
   

    <div class="btn-group" role="group" aria-lable="Button group with nested dropdwon">
        <div class="btn-group" role="group">
            <button id="btnGroupDropl" type="button" class="btn ml-1 dropdown-toggle" data-toggle="dropdown">
                Contact
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDropl">
                <a class="dropdown-item" routerLink="/register">Register</a>
                <a class="dropdown-item" routerLink="/login">Login</a>

            </div>
        </div>

    </div>

</div>
<!-- End navbar -->
